* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;

    background: url(../images/artem-kniaz-n-K0G3ymYgc-unsplash.jpg) center no-repeat;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
  }
  
  .popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 450px;
    height: 250px;
    z-index: 2;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
  }

  
  .popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .popup.activate .overlay {
      display: block;
  
  }
  
  .popup.popup.activate .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
  }
  
  .username, .password{
    margin: 8px;
    height: 36px;
    border-color: #0E273C;
    border-style: solid;
    border-radius: 3px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: block;
    margin-left: 75.9px;
  }
  
  .username.incorrect {
    border-color: crimson;
  }
  .password.incorrect {
    border-color: crimson;
  }
  
  .submit {
    height: 30px;
    width: 107px;
    background: transparent;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    border-color: #2F0A28;
  }

.geometrydash {
    margin: 18px;
    border-radius: 18px;
    box-shadow: 5px 4px 12px #000;
}
.geometrydash img {
    border-radius: 18px;
}

.narrow {
    border-radius: 18px;
}

.narrow img {
    border-radius: 18px;
    box-shadow: 5px 4px 12px #000;
    line-height: normal;
}

.s {
    margin-left: 10px;
    border-radius: 18px;
    background-color: #000;
}

.s img{
    border-radius: 18px;
    line-height: 10px;
    box-shadow: 5px 4px 12px #000;
}

.new .darkback {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.new .news {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: #fff;
  width: 450px;
  height: 240px;
  z-index: 2;
  text-align: center;
  padding: 40px;
  margin-bottom: 90px;
  box-sizing: border-box;
}

.new.newA .darkback {
  display: block;

}

.new.new.newA .news {
transition: all 300ms ease-in-out;
transform: translate(-50%,-50%) scale(1);
}

.new .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}









.update .dback {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.update .updates {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: #fff;
  width: 450px;
  height: 140px;
  z-index: 2;
  text-align: center;
  padding: 40px;
  margin-bottom: 90px;
  box-sizing: border-box;
}

.update.updateA .dback {
  display: block;

}

.update.updateA .updates {
transition: all 300ms ease-in-out;
transform: translate(-50%,-50%) scale(1);
}

.update .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}


